<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:allowBackup="false" android:usesCleartextTraffic="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />
        <activity android:name=".MainActivity" android:exported="true">
            <meta-data android:name="android.support.customtabs.trusted.LAUNCHING_BROWSER" android:value="com.android.chrome" />
            <meta-data android:name="android.support.customtabs.trusted.LAUNCHING_BROWSER_NAME" android:value="Chrome" />
            <meta-data android:name="android.support.customtabs.trusted.DEFAULT_URL" android:value="https://oak-79f.pages.dev/operator?source=android-app" />
            <meta-data android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR" android:resource="@color/ic_launcher_background" />
            <meta-data android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR" android:resource="@color/ic_launcher_background" />
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
            <intent-filter android:autoVerify="true"><action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.DEFAULT" /><category android:name="android.intent.category.BROWSABLE" /><data android:scheme="https" android:host="oak-79f.pages.dev" android:pathPrefix="/operator" /></intent-filter>
        </activity>
        <activity android:name="com.google.androidbrowserhelper.trusted.FocusActivity" />
        <activity android:name="com.google.androidbrowserhelper.trusted.NotificationPermissionRequestActivity" android:exported="false" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service android:name="com.google.androidbrowserhelper.trusted.DelegationService" android:exported="true" tools:ignore="ExportedService">
            <!-- The service verifies the stored browser token before delegation. -->
            <meta-data android:name="android.support.customtabs.trusted.SMALL_ICON" android:resource="@drawable/notification_small" />
            <meta-data android:name="androidx.browser.trusted.USE_HIGH_PRI_NOTIFICATIONS" android:value="true" />
            <intent-filter><action android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE" /><category android:name="android.intent.category.DEFAULT" /></intent-filter>
        </service>
    </application>
</manifest>
